@import "global.css";

div.bg {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #330c15;
    background-image: -webkit-linear-gradient(150deg, #330c15 45%, #380d17 45%);
    width: 100%;
    height: 100vh;
}

div.auth {
    width: 100%;
    max-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(39, 44, 51);
    border-radius: 10px;
    box-shadow: 0 20px 50px rgba(27, 30, 35, 1);
}

div.auth img.logo {
    display: block; /* Faz com que a imagem se comporte como um bloco */
    margin-left: auto; /* Margem automática à esquerda */
    margin-right: auto; /* Margem automática à direita */
    width: 50%; /* Ajusta a largura da imagem para preencher o container */
    height: auto; /* A altura é ajustada automaticamente para manter a proporção da imagem */
    object-fit: contain; /* Garante que a imagem seja redimensionada para caber no container, mantendo a proporção */
}


div.auth p.title{
    padding: 20px;
    text-align: center;
    font-size: 24pt;
    font-weight: bold;
    color: azure;
}

div.auth form{
    display: block;
    margin: auto;
    padding: 20px;
    color: azure;
}

div.auth input.field{
    display: block;
    margin: 10px auto;
    width: 100%;
    max-width: 400px;
    padding: 5px 10px;
    padding-left: 30px;
    border: 1px solid #CCC;
    border-radius: 3px;
}

div.auth input[type="text"]{
    background: url(../img/user.png) no-repeat scroll 7px 7px;
    background-size: 16px;
    color: azure;
}

div.auth input[type="email"]{
    background: url(../img/email.png) no-repeat scroll 7px 7px;
    background-size: 16px;
    color: azure;
}

div.auth input[type="password"]{
    background: url(../img/password.png) no-repeat scroll 7px 7px;
    background-size: 16px;
    color: azure;
}

div.auth button {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    border: 1px solid #121418;
    background-color: #1b1e23;
    border-radius: 40px;
    color: #FFF;
}

div.auth button:hover {
    border: 1px solid #330c15;
    background-color: #330c15;
    color: #565656;
    color: #FFF;
}

div.auth p.toogle {
    padding: 20px;
    padding-top: 0px;
    text-align: center;
    cursor: pointer;
    color: azure;
}

div.auth p.tootle:hover {
    text-decoration: underline #000;
}

div.register {
    display: none;
}